body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
    background-color: #26fcc7;
}

ol, ul {
  padding-left: 30px;
}

.transition {
  text-decoration: none;
  outline: none;
  display: inline-block;
  border-radius: 30px;
  background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
  background-position: 100% 0;
  background-size: 200% 200%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: white;
  box-shadow: 0 16px 32px 0 rgba(0,40,120,.35);
  transition: .5s;
}
.transition:hover {
  box-shadow: 0 0 0 0 rgba(0,40,120,0);
  background-position: 0 0;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  text-align: center;
  font-size: 20px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  width: 100%;
  display: block;
}
.game-board{
  margin: 0 auto;
  width: 208px;
  padding-bottom: 15px;
}
.game-board .square{
  width: 70px;
  height: 70px;
  font-size: 60px;
}
.game-info {
  margin-left: 20px;
}
.game-info li{
  width: 130px;
  height: 130px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  border: 1px solid green;
  background-color: #ad102f;
}
.game-info .board{
  width: 99px;
  margin: 0 auto;
  padding-top: 10px;
}